<div class="header-intro bg-primary text-white py-5">
    <div class="container">
        <h2 class="page-heading mb-3">Projects</h2>
        <div class="page-heading-tagline">In-depth Case Studies to show you what I can offer and how I work</div>

    </div>
    <!--//container-->
</div>
<!--//header-intro-->

<section class="section pt-5">
    <div class="container">
        <div class="text-center">
            <ul id="filters" class="filters mb-5 mx-auto pl-0">
                <li class="type active" data-filter="*">All</li>
                <li class="type" data-filter=".angular">Angular</li>
                <li class="type" data-filter=".react">React</li>
                <li class="type" data-filter=".python-django">Work samples</li>
                <li class="type" data-filter=".ruby-rails">Ruby/Rails</li>
                <li class="type" data-filter=".php">PHP</li>
            </ul>
            <!--//filters-->
        </div>



        <div class="d-flex flex-wrap justify-content-around">
            <div class="col-md-3 mb-5 shadow mx-1">
                <img class="card-img" src="images/profile.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            <div class="col-md-3 mb-5 shadow mx-1">
                <img class="card-img-top" src="images/profile.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            <div class="col-md-3 mb-5 shadow mx-1">
                <img class="card-img-top" src="images/profile.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>


            <div class="col-md-3 mb-5 shadow mx-1">
                <img class="card-img-top" src="images/profile.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>


            <div class="col-md-3 mb-5 shadow mx-1">
                <img class="card-img-top" src="images/profile.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            
        </div>
    </div>
    <!--//container-->
</section>
<!--//section-->